.form__close-button {
    position: absolute;
    top: -47px;
    right: -45.56px;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.form__close-button:focus {
    border: none;
}