.popup__close-button {
    position: absolute;
    top: -49px;
    right: -49px;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.popup__close-button:focus {
    outline: none;
}