.form__close-button {
    position: absolute;
    top: -49px;
    right: -49px;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.form__close-button:focus {
    outline: none;
}

@media screen and (max-width: 550px) {
    .form__close-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 25px;
    }
}