.popup__field-name {
    border: 0;
    border-bottom: 1px solid rgb(0,0,0,.2);
    margin-top: 29.74px;
    height: 26px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__field-name::placeholder {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    vertical-align: top;
}

.popup__field-name:focus {
    outline-width: 0;
}